@model FirstApplication.Models.Band

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h4>Band</h4>
            <hr />
            <dl class="row">
                <dt>
                    @Html.DisplayNameFor(model => model.Title)
                </dt>
                <dd class="col-sm-12">
                    @Html.DisplayFor(model => model.Title)
                </dd>
                <dt class="col-sm-12">
                    @Html.DisplayNameFor(model => model.Genre)
                </dt>
                <dd class="col-sm-12">
                    @Html.DisplayFor(model => model.Genre)
                </dd>
                <dt class="col-sm-12">
                    @Html.DisplayNameFor(model => model.Origin)
                </dt>
                <dd class="col-sm-12">
                    @Html.DisplayFor(model => model.Origin)
                </dd>
                <dt class="col-sm-12">
                    @Html.DisplayNameFor(model => model.Biography)
                </dt>
                <dd class="col-sm-12">
                    @Html.DisplayFor(model => model.Biography)
                </dd>
            </dl>
            
        </div>
        <div id="data">
        </div>
        <div>
            <button id="ajaxTest">Ajax Get</button>
        </div>
    </div>
</div>

<script>
    var data = {
        title: "blah",
        genre: "your genre",
        origin: "your origin",
        biography: "your biography"
    }
    fetch('/music/create', {
        method: "POST",
        body: JSON.stringify(data),
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
        }
    })
		.then(function(response) {
			return response.json();
		})
		.then(function(myJson) {
			console.log(myJson);
		});
</script>